<h1>Drawing added to project notification</h1>

<p><%= @author.first_name %> <%= @author.last_name %> has added <%= @drawing.name %> to <%= link_to @project.name,
project_url(@project) %></p>

<%= link_to "View the project", project_url(@project), target: :_blank %>
