<nav>
  <div class="logo">
    <%= link_to "Greenlight", root_path , class: "noDecoration"%>
  </div>
  <ul>
    <%# Will want to add active dyanmically to the page that is active (Stimulus) %>
    <li><%= link_to "Projects", projects_path %></li>
    <% if user_signed_in? %>
      <li><%= link_to current_user.email, edit_user_registration_path, class: "noDecoration" %></li>
    <% else %>
      <li><a href="#", class="noDecoration">Not Signed In</a></li>
    <% end %>
    <li class=" dropdown">
      <a href="javascript:void(0)" class="dropbtn noDecoration">Dropdown</a>
      <div class="dropdown-content">
        <% if user_signed_in? %>
          <%= link_to "Edit your details", edit_user_registration_path, class: "noDecoration" %>
          <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "noDecoration" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "noDecoration" %>
          <%= link_to "Sign up", new_user_registration_path, class: "noDecoration" %>
        <% end %>
      </div>
    </li>
  </ul>
</nav>
