<h1>Project Show Page</h1>

<h2><%= @project.name %>, <%= @project.address %>, <%= @project.company %></h2>

<div class="container">
  <table>
    <tr>
        <th>Select</th>
        <th>Name</th>
        <th>Drawing No</th>
        <th>Revision</th>
        <th>Last Updated</th>
        <th>Updated By</th>
    </tr>
    <% @project.drawings.each do |drawing| %>
      <tr>
        <td>Box</td>
        <td><%= drawing.name %></td>
        <td><%= drawing.number %></td>
        <td><%= drawing.revision %></td>
        <td>Date</td>
        <td>Author</td>
        <td>
          <%= link_to "Edit", edit_project_drawing_path(@project, drawing) %>
          <%= link_to "Delete", project_drawing_path(@project, drawing), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to "Add a drawing to this project", new_project_drawing_path(@project) %>

<%= link_to "Back", projects_path %>

<% if policy(@project).edit? %>
   | <%= link_to "Edit", edit_project_path(@project) %> |
<% end %>
<% if policy(@project).destroy? %>
  <%= link_to "Delete", project_path(@project), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>

<% if @project.users.any? %>
  <h3>Registered Users</h3>
  <% @project.users.each do |user| %>
    <p><%= user.email %></p>
  <% end %>
<% end %>

<%# <%= link_to "Add a user to this project",  %>
